* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	max-width: 317px;
}

body {
	background-color: #23252c;
}

.profile {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 10vh;
}

.profile-img {
	border-radius: 10px 10px 0 0;
	background-color: #116245;
}

.profile-datas {
	background-color: #1a1b21;
	width: 100%;
	text-align: center;
}

.profile-datas a {
	color: #5093e2;
}

.profile-name {
	color: #ffffff;
	font-size: 25px;
	margin-top: 21px;
}

.profile-work {
	color: #f3bf99;
	font-size: 12.8px;
	margin-top: 7px;
}

.profile-web {
	color: #ffffff;
	font-size: 10.8px;
	margin-top: 9px;
}

.profile-button {
	width: 115px;
	border-radius: 6px;
	border: none;
	margin-top: 15px;
	margin-bottom: 33px;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
}
.profile-button-mail {
	margin-right: 17px;
	background-color: #ffffff;
	color: #374151;
	padding: 9px 28px;
}

.profile-button-mail:hover {
	background-color: #ffffffad;
	color: #37415173;
}
.profile-button-linkedin {
	background-color: #5093e2;
	color: #ffffff;
	padding: 9px 17px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.profile-button-linkedin:hover {
	background-color: #5094e28e;
	color: #ffffffad;
}
.about {
	padding: 0 35px;
	padding-bottom: 27px;
	background-color: #1a1b21;
	width: 100%;
}

.about-title {
	font-size: 16px;
	margin-bottom: 5px;
	color: #f5f5f5;
}

.about-description {
	font-size: 10.24px;
	color: #dcdcdc;
}

.interest {
	padding: 0 35px;
	padding-bottom: 27px;
	background-color: #1a1b21;
	width: 100%;
}

.interest-title {
	font-size: 16px;
	margin-bottom: 5px;
	color: #f5f5f5;
}

.interest-description {
	font-size: 10.24px;
	color: #dcdcdc;
	margin-bottom: 24px;
}

.footer {
	display: flex;
	background-color: #161619;
	padding: 19px 100px;
	margin-bottom: 10vh;
	border-radius: 0 0 10px 10px;
}

.footer a {
	display: flex;
}
