* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

body {
	background-color: #23252c;
}

.profile {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.profile-img {
	max-width: 100%;
	background-color: #f0f2e6;
}

.profile-datas {
	background-color: #1a1b21;
	width: 100%;
	text-align: center;
}

.profile-datas a {
	color: #5093e2;
}

.profile-name {
	color: #ffffff;
	font-size: 25px;
	margin-top: 21px;
}

.profile-work {
	color: #f3bf99;
	font-size: 12.8px;
	margin-top: 7px;
}

.profile-web {
	color: #ffffff;
	font-size: 10.8px;
	margin-top: 9px;
	transition: 0.3s all;
}

.profile-web:hover {
	opacity: 0.5;
}

.profile-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	column-gap: 4px;
	width: 115px;
	border-radius: 6px;
	border: none;
	margin-top: 15px;
	margin-bottom: 33px;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
}
.profile-button-mail {
	margin-right: 17px;
	background-color: #ffffff;
	color: #374151;
	padding: 9px 28px;
	transition: 0.3s all;
}

.profile-button-linkedin {
	background-color: #5093e2;
	color: #ffffff;
	padding: 9px 17px;
	align-items: center;
	justify-content: center;
	transition: 0.3s all;
}

.profile-button-mail:hover,
.profile-button-linkedin:hover {
	opacity: 0.5;
}

.about {
	padding: 0 35px;
	padding-bottom: 27px;
	background-color: #1a1b21;
	width: 100%;
}

.about-title {
	font-size: 16px;
	margin-bottom: 5px;
	color: #f5f5f5;
}

.about-description {
	font-size: 10.24px;
	color: #dcdcdc;
	text-align: justify;
}

.interest {
	padding: 0 35px;
	padding-bottom: 27px;
	background-color: #1a1b21;
	width: 100%;
}

.interest-title {
	font-size: 16px;
	margin-bottom: 5px;
	color: #f5f5f5;
}

.interest-description {
	font-size: 10.24px;
	color: #dcdcdc;
	margin-bottom: 24px;
	text-align: justify;
}

.interest .profile-web {
	text-align: center;
}

.interest a {
	color: #5093e2;
}

.footer {
	display: flex;
	background-color: #161619;
	padding: 19px 100px;
}

.footer a {
	display: flex;
	transition: 0.3s all;
}

.footer a:hover {
	opacity: 0.5;
}

@media (min-width: 560px) {
	* {
		max-width: 550px;
	}

	.profile {
		margin-top: 10vh;
	}

	.profile-img {
		border-radius: 10px 10px 0 0;
	}

	.profile-name {
		font-size: 40px;
	}

	.profile-work {
		font-size: 20px;
	}

	.profile-web {
		font-size: 18px;
	}

	.profile-button {
		width: 150px;
		font-size: 22px;
	}

	.profile-button-mail {
		padding: 12px 35px;
	}

	.profile-button-linkedin {
		padding: 12px 25px;
	}

	.about-title,
	.interest-title {
		font-size: 25px;
		margin-bottom: 8px;
	}

	.about-description,
	.interest-description {
		font-size: 16px;
	}

	.footer {
		margin-bottom: 10vh;
		border-radius: 0 0 10px 10px;
	}
}
